#backbtn {

    align-items: right;
    justify-self: right;
    top: 10px;
    left: 90%;
}
  
  .mapAndInfoBox{
    display: flex;
  }
.map{
    flex: 1;
}
.info_box{
    display: none;
    border: 15px solid blue;
    margin: 5%;
    padding:  5%;
    text-align: center;
    flex: 1;
    background-color: rgb(255, 255, 255);
}