#backbtn {
    position: absolute;
    align-items: right;
    justify-self: right;
    top: 10px;
    left: 90%;
}

.border-wrap {
    background-color: var(--color-bg-primary);
    border: 1px solid var(--color-border-secondary);
    display: inline-block;
    line-height: 0px;
    height: 100%;
}
